<div style=" margin-left: 20%;">
<h1>Question: {{model.question}}</h1>
<h2>{{model.notes}}</h2>
<h4>Author: {{model.author}}</h4>
</div>
<div style="margin-left: 20%">
{{update-question messageboard=model update="update"}}
{{delete-question messageboard=model destroyMessageboard="destroyMessageboard"}}
</div>
<hr>
<br>
<h3 style="margin-left:5% ; font-size: 50px;">Answers</h3>
<ul>
{{#each model.answers as |answer|}}
  <li><span style="font-weight: bold;">{{answer.replier}} answers:</span> {{answer.answer}}</li>
  <br>
{{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer" messageboard=model}}
<!-- <h2>More information about the question:"{{model.question}}"</h2>
<h4>asked by {{model.author}}</h4>
<h3>{{model.notes}}</h3>

{{#each model as |messageboard|}}
 {{messageboard-post messageboard=messageboard}}
{{/each}}

{{new-answer saveAnswer="saveAnswer" messageboard=model}} -->
